/*
font-family: 'Titillium Web', sans-serif;
font-family: 'Syncopate', sans-serif;
*/

body, html {
    background-color: #171310;
}

body,
h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
p,
select,
textarea {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

blockquote,
input,
textarea,
.taxonomy-description {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

input,
label,
select,
textarea {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1, h2, h2 a, h2 a:visited, h3, h4 {
    font-family: 'Oswald',sans-serif;
    font-weight: normal;
    line-height: 1.25;
    margin: 0 0 10px;
}

h1, h2, h2 a, h2 a:visited {
    font-size: 36px;
    margin: 0 0 20px;
}

h2 {
    font-size: 28px;
    padding: 1em 0 1em 0.5em;
}

header {
    background-color: #1b2615;
    color: #eee;
    padding: 1em 0;
    margin-bottom: 2em;
}

header a {
    color: #eee;
}
a {
    color: #0274BE;
    text-decoration: none;
}

.link {
    color: #0274BE;
    cursor: pointer;
}

section, nav {
    width: 1140px;
    margin: 0 auto;
}
nav { 
    margin-bottom: 2em;
}

nav ul li {
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #DCDBD6;
    margin: 0 1px;
    background-color: #1b2615;
}
nav ul li:first-child {
    margin-left: 0;
}
nav ul li a {
    color: #fefefe;
}

section {
    background-color: #dcdbd6;
}

form div {
    padding: 1em;
}
form label {
    width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

form button {
    background-color: #4f814b;
    border: 1px solid #4f814b;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px;
    margin-left: 110px;
}